@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
.imageCardBar {
  width: 100% !important;
  height: 260px !important;
  position: relative !important;
}

.imageCardColorBox {
  width: 100% !important;
  height: 102% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  opacity: 0.7 !important;
  z-index: 1 !important;
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  /* background: linear-gradient(to bottom, #cab4a9 0%, #3cb4e7 100%) ; */
  animation: upColor 1s !important;
}
@keyframes upColor {
  from {
    transform: scaleY(0.5);
    opacity: 0.1;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes up {
  from {
    transform: scaleY(0.5);
  }
  to {
    transform: scaleY(1);
  }
}

.imageCardColorChanger {
  z-index: 5 !important;
  height: 50% !important;
  bottom: 0px !important;

  /* border-bottom: 3px solid #aeaeae !important; */
  background: white !important;
}

.imageCardImageBox {
  width: 100% !important;
  height: 265px !important;
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  animation: up 1s !important;
}
.imageCardBox {
  z-index: 2 !important;
  opacity: 1 !important;
  border-radius: 25 !important;
}
.heightImageCard00 {
  height: 98% !important;
}
.heightImageCard05 {
  height: 94% !important;
}
.heightImageCard10 {
  height: 90% !important;
}
.heightImageCard15 {
  height: 87% !important;
}
.heightImageCard20 {
  height: 84% !important;
}
.heightImageCard25 {
  height: 80.5% !important;
}
.heightImageCard30 {
  height: 77% !important;
}
.heightImageCard35 {
  height: 73.5% !important;
}
.heightImageCard40 {
  height: 70% !important;
}
.heightImageCard45 {
  height: 66.5% !important;
}
.heightImageCard50 {
  height: 63% !important;
}
.heightImageCard55 {
  height: 59% !important;
}
.heightImageCard60 {
  height: 56% !important;
}
.heightImageCard65 {
  height: 51% !important;
}
.heightImageCard70 {
  height: 48% !important;
}
.heightImageCard75 {
  height: 44% !important;
}
.heightImageCard80 {
  height: 40% !important;
}
.heightImageCard85 {
  height: 36% !important;
}
.heightImageCard90 {
  height: 32% !important;
}
.heightImageCard95 {
  height: 28% !important;
}
.heightImageCard100 {
  height: 24% !important;
}

.rowImageChart {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  margin-right: -15px !important;
  margin-left: -15px !important;
}
.colImageChart {
  -ms-flex-preferred-size: 0 !important;
  flex-basis: 0 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
  max-width: 100% !important;
}
.colImageChart,
.colImageChart-1,
.colImageChart-10,
.colImageChart-11,
.colImageChart-12,
.colImageChart-2,
.colImageChart-3,
.colImageChart-4,
.colImageChart-5,
.colImageChart-6,
.colImageChart-7,
.colImageChart-8,
.colImageChart-9,
.colImageChart-auto,
.colImageChart-lg,
.colImageChart-lg-1,
.colImageChart-lg-10,
.colImageChart-lg-11,
.colImageChart-lg-12,
.colImageChart-lg-2,
.colImageChart-lg-3,
.colImageChart-lg-4,
.colImageChart-lg-5,
.colImageChart-lg-6,
.colImageChart-lg-7,
.colImageChart-lg-8,
.colImageChart-lg-9,
.colImageChart-lg-auto,
.colImageChart-md,
.colImageChart-md-1,
.colImageChart-md-10,
.colImageChart-md-11,
.colImageChart-md-12,
.colImageChart-md-2,
.colImageChart-md-3,
.colImageChart-md-4,
.colImageChart-md-5,
.colImageChart-md-6,
.colImageChart-md-7,
.colImageChart-md-8,
.colImageChart-md-9,
.colImageChart-md-auto,
.colImageChart-sm,
.colImageChart-sm-1,
.colImageChart-sm-10,
.colImageChart-sm-11,
.colImageChart-sm-12,
.colImageChart-sm-2,
.colImageChart-sm-3,
.colImageChart-sm-4,
.colImageChart-sm-5,
.colImageChart-sm-6,
.colImageChart-sm-7,
.colImageChart-sm-8,
.colImageChart-sm-9,
.colImageChart-sm-auto,
.colImageChart-xl,
.colImageChart-xl-1,
.colImageChart-xl-10,
.colImageChart-xl-11,
.colImageChart-xl-12,
.colImageChart-xl-2,
.colImageChart-xl-3,
.colImageChart-xl-4,
.colImageChart-xl-5,
.colImageChart-xl-6,
.colImageChart-xl-7,
.colImageChart-xl-8,
.colImageChart-xl-9,
.colImageChart-xl-auto {
  position: relative !important;
  width: 100% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.textImageChart-center {
  text-align: center !important;
}
.textImageChart-right {
  text-align: right !important;
}
